
.idea/libraries/lib.xml
out/production/machinelender/.idea/encodings.xml
out/production/machinelender/.idea/compiler.xml
out/production/machinelender/.idea/description.html
out/production/machinelender/.idea/gradle.xml
out/production/machinelender/.idea/misc.xml
*.class
out/production/machinelender/src/sample/Authentication/UI/login.fxml
*.fxml
out/production/machinelender/.idea/modules.xml
out/production/machinelender/.idea/vcs.xml
machinelender.iml
*.xml
*.ser
*.png
out/production/machinelender/images/test.txt
out/production/machinelender/README.md
out/production/machinelender/Resources/images/test.txt
out/production/machinelender/src/Resources/images/test.txt
out/production/machinelender/userDatabase.txt
machinelender.iml
machinelender.iml
*.kotlin_module
